#IGNORE THE ENVIRONMENT
GAME_CONTROLLER_ENV/
#IGNORE THE PYTHON NOTEBOOK CHECKPOINTS
.ipynb_checkpoints
#TEXT FILE WITH ENVIRONMENT ACTIVATE PATH(VARIES FOR EACH MACHINE)
activate_env.txt
#LOG FILE FOR MODEL PERFORMANCE DURING TRAINING
Logs/
#PYCHARM IDE PROJECT FILES
.idea
#VISUAL STUDIO IDE FILES
.vs

